* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-dark;
  color: $text-primary;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

button {
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
  color: inherit;
}
